QGroupBox {
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 1ex; /* leave space at the top for the title */
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left; /* position at the top center */
    padding: 0 4px;
    font-weight: bold;
}

QProgressBar::chunk {
    background-color: green;
}
QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
}